@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
  font-size: 30px;
}

.box1 {
  height: 100px;
  width: 400px;
  margin-right: -4;
  margin-inline: 11px;
  text-align: center;
  box-shadow: 0 6px 12px rgb(0 0 0/30%);
  margin-inline: auto;
  margin-bottom: 2.5%;
  background: rgb(0, 0, 0);
}

.logo img {
  width: 30%;
  margin-top: 7%;
}

.box2 {
  background-color: white;
}

.sfondo {
  background-image: url(./images/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.titolo {
  color: #25a2c3;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-top: 7%;
  font-size: 75%;
}

.titolo_secondo {
  margin-top: -14px;
}

.primoparagrafo {
  font-size: 47%;
  padding: 0% 19%;
  line-height: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: rgb(242, 78, 42);
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  font-weight: bold;
  border-radius: 4%;
}

.primo_bottone {
  align-items: center;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  margin-top: -43px;
}

.sottotitoli {
  color: #25a2c3;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 60%;
  margin-top: 20px;
}

.secondoparagrafo {
  margin-bottom: 10px;
  font-size: 50%;
  font-family: "Open Sans", sans-serif;
  padding: 0px 50px;
}

.terzoparagrafo {
  font-size: 50%;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 45px;
  font-family: "Open Sans", sans-serif;
}

.cerchio {
  border-radius: 50%;
  object-fit: cover;
}

.spaziosotto {
  margin-bottom: 20px;
  font-size: 50%;
  padding: 0px 69px;
}

.box3 {
  background-color: rgb(234, 37, 4);
  color: white;
  margin-bottom: 3rem;
  padding-block: 20%;
}

.quartoparagrafo {
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
}

.quintoparagrafo {
  font-size: 40%;
  font-family: "Open Sans", sans-serif;
}

.firma {
  font-size: 40%;
  font-family: "Open Sans", sans-serif;
}

.card {
  height: 20%;
  background-color: white;

  margin-bottom: 20px;
  margin: 5%;
  border: 1px solid #dee1e3;
}

.sottotitoli2 {
  color: #25a2c3;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 60%;
}

.boxfooter {
  background-color: #25a2c3;
  margin-inline: auto;
  padding-top: 20px;
  box-shadow: 0 6px 12px rgb(0 0 0/30%);
  height: 300px;
}

.contatti {
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
  text-align: center;
}

.sottolineato {
  text-decoration: underline;
  font-size: 50%;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.via {
  font-size: 50%;
  color: white;
  margin-bottom: 10%;
  font-family: "Open Sans", sans-serif;
}

.copy {
  font-size: 40%;
  color: white;
  border-top: 0.2px solid white;
  padding-top: 20px;
  width: 50%;
  margin-left: 25%;
  margin-top: -20px;
  font-family: "Open Sans", sans-serif;
}

.link {
  font-size: 90%;
  color: white;
  font-family: "Open Sans", sans-serif;
}
